@model IEnumerable<KLFBlog.Models.ProjectViewModel>

<div id="postList">
    @foreach (var item in Model)
    {
        <div>
            <h1>@item.Title</h1>
            <h3>@item.SubTitle</h3>
            <h4>@item.Date</h4>
            <h4>@item.Image</h4>
            <p>@item.PostBody</p>
            <hr />
        </div>
    }
</div>